:root {
  --sh-class: #8250df;
  --sh-identifier: #24292f;
  --sh-keyword: #cf222e;
  --sh-string: #0a3069;
  --sh-property: #0550ae;
  --sh-entity: #116329;
  --sh-jsxliterals: #8250df;
  --sh-sign: #6e7781;
  --sh-comment: #6e7781;
}

.dark {
  --sh-class: #d2a8ff;
  --sh-identifier: #c9d1d9;
  --sh-keyword: #ff7b72;
  --sh-string: #a5d6ff;
  --sh-property: #79c0ff;
  --sh-entity: #7ee787;
  --sh-jsxliterals: #d2a8ff;
  --sh-sign: #8b949e;
  --sh-comment: #8b949e;
}

pre code .sh__line {
  line-height: 1.35;
}

